body{background-color:#262626;}
.atem-button {
    background-color: #575858;
    background: conic-gradient(from 180deg, #616161, #575858, #616161);
    color: #000;
    border: 2px solid #131618;
    border-radius: 4px;
    padding: 0px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    width: 74px;
    height: 74px;
    font-size: 12px;
    position: relative;
  }
  .atem-button:before {
    content: "";
    display: block;
    margin: 5%;
    width: 90%;
    height: 90%;
    border: 1px solid rgb(0 0 0 / 50%);
    box-shadow: 0 0 2px rgb(0 0 0);
    border-radius: 5px;
    z-index: -1;
    mix-blend-mode: overlay;
    background: #FFFFFF;
    background: -webkit-radial-gradient(center, #FFFFFF, #828282);
    background: -moz-radial-gradient(center, #FFFFFF, #828282);
    background: radial-gradient(ellipse at center, #FFFFFF, #828282);
  }
  .atem-button:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: radial-gradient(
      circle, rgba(255,255,255,0) 59%,
      rgba(255,255,255,0.3) 61%,
      rgba(255,255,255,0.3) 68%,
      rgba(255,255,255,0) 70%,
      rgba(255,255,255,0) 79%,
      rgba(255,255,255,0.3) 81%,
      rgba(255,255,255,0.3) 88%,
      rgba(255,255,255,0) 90%);
    z-index: 2;
    position: absolute;
    top: 0;
    border-radius: 2px;
    position: absolute;
  }
.atem-button:hover,.atem-button:active {
    background: conic-gradient(from 180deg, #767878, #545456, #767878);
    cursor: pointer;
    color: #000;
  }
  .atem-button>span{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .on{
    background: conic-gradient(from 180deg, #959595, #929595, #959595);
    box-shadow: 0 0 10px #fff;
  }
  .on:hover{
    background: conic-gradient(from 180deg, #9e9e9e, #c3c3c7, #9e9e9e);
  }
  .prev.preview, .prev.active{
    background: conic-gradient(from 180deg, #12721d, #126a1b, #12721d);
    box-shadow: 0 0 10px #44b31a;
  }
  .prev.preview:hover, .prev.active:hover{
    background: conic-gradient(from 180deg, #0d6c18, #078714, #0d6c18);
  }
  .prog.active{
    background: conic-gradient(from 180deg, #721212, #6a1212, #721212);
    box-shadow: 0 0 10px #b31a1a;
    color:#fff;
  }
  .prog.active:hover{
    background: conic-gradient(from 180deg, #6c0d0d, #bb0000, #6c0d0d);
  }
  .key{
    background: conic-gradient(from 180deg, #725f12, #8b7b16, #725f12);
    box-shadow: 0 0 10px #b3a91a;
  }
  .key:hover{
    background: conic-gradient(from 180deg, #6c690d, #bb9900, #6c690d);
  }

  /*LIST MENU*/
  .menu {
    position: absolute;
    display: none;
    background-color: #333333;
    border:1px solid #1d1d1d;
    padding: 5px;
    border-radius: 3px;
    z-index: 2;
  }
  .menu ul{
    margin: 0;
    padding: 0 5px;
    max-height: 350px;
    overflow-y: scroll;
  }
  .menu li {
    list-style: none;
    display: flex;
    margin: 5px 0;
    max-width: 230px;
    text-overflow: ellipsis;
  }
  .menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border:1px solid #1d1d1d;
    border-radius: 3px;
    transition: all ease-in-out 0.2s;
    max-width: 200px;
    min-width: 200px;
    text-overflow: ellipsis;
  }
  
  .menu li a:hover {
    background-color: #131313;
    color: #0064b4;
    box-shadow: 0 0 10px #0064b4;
  }

  /*sections*/
  .btnSections{
    background-color: #222222;
    border: 2px solid #181818;
    border-radius: 4px;
    padding: 25px;
    margin: 5px 10px 10px 10px;
    display: inline-block;
    max-width: 680px;;
  }
  .titleSection{color:#878787; margin: 15px 0px 0px 15px; padding: 0;}

  /*SCROLL BAR*/

  ::-webkit-scrollbar {
    width: 8px;
    background-color: #181818;
    border-radius: 4px;
    margin-left: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #282828;
    height: 50px;
    box-shadow: 0 0 5px #0064b4;
  }
  .space{display: block; height: 30px; width: 100%;}
